::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #a6a3a3;
}
::-webkit-scrollbar-track {
  background: transparent;
  background:rgba(176, 177, 181, 0.3);
  border-radius: 0px;
}
::-webkit-scrollbar-track:hover {
  background: #797777;
}
::-webkit-scrollbar-corner {
  background: transparent;
}
